plugins/de.cau.cs.kieler.cakefeed/exp/LibraryElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Common elements -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Identification">
    <xs:complexType>
      <xs:attribute name="Standard"/>
      <xs:attribute name="Classification"/>
      <xs:attribute name="ApplicationDomain"/>
      <xs:attribute name="Function"/>
      <xs:attribute name="Type"/>
      <xs:attribute name="Description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionInfo">
    <xs:complexType>
      <xs:attribute name="Organization" use="required"/>
      <xs:attribute name="Version" use="required"/>
      <xs:attribute name="Author" use="required"/>
      <xs:attribute name="Date" use="required"/>
      <xs:attribute name="Remarks"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompilerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Compiler"/>
      </xs:sequence>
      <xs:attribute name="header"/>
      <xs:attribute name="classdef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compiler">
    <xs:complexType>
      <xs:attribute name="Language" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Java"/>
            <xs:enumeration value="Cpp"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="Other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Vendor" use="required"/>
      <xs:attribute name="Product" use="required"/>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FBNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FB"/>
        <xs:element minOccurs="0" ref="EventConnections"/>
        <xs:element minOccurs="0" ref="DataConnections"/>
        <xs:element minOccurs="0" ref="AdapterConnections"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Connection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Connection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Connection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connection">
    <xs:complexType>
      <xs:attribute name="Source" use="required"/>
      <xs:attribute name="Destination" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="dx1"/>
      <xs:attribute name="dx2"/>
      <xs:attribute name="dy"/>
    </xs:complexType>
  </xs:element>
  <!-- FBType elements -->
  <xs:element name="FBType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element ref="InterfaceList"/>
        <xs:choice minOccurs="0">
          <xs:element ref="BasicFB"/>
          <xs:element ref="FBNetwork"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Service"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="EventInputs"/>
        <xs:element minOccurs="0" ref="EventOutputs"/>
        <xs:element minOccurs="0" ref="InputVars"/>
        <xs:element minOccurs="0" ref="OutputVars"/>
        <xs:element minOccurs="0" ref="Sockets"/>
        <xs:element minOccurs="0" ref="Plugs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventOutputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="VarDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="VarDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sockets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AdapterDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AdapterDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="With"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="With">
    <xs:complexType>
      <xs:attribute name="Var" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarDeclaration">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="ArraySize"/>
      <xs:attribute name="InitialValue"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterDeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BasicFB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="InternalVars"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ECC"/>
          <xs:element ref="HCECC"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Algorithm"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="VarDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECC">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ECState"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ECTransition"/>
      </xs:sequence>
      <xs:attribute name="Name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HCECC">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element maxOccurs="unbounded" ref="ECC"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="HCECCRelation"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="HCECCRelation">
    <xs:complexType>
      <xs:attribute name="Source" use="required"/>
      <xs:attribute name="Destination" use="required"/>
      <xs:attribute name="Relation" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ECAction"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECTransition">
    <xs:complexType>
      <xs:attribute name="Source" use="required"/>
      <xs:attribute name="Destination" use="required"/>
      <xs:attribute name="Condition" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECAction">
    <xs:complexType>
      <xs:attribute name="Algorithm"/>
      <xs:attribute name="Output"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Algorithm">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="FBD"/>
        <xs:element ref="ST"/>
        <xs:element ref="LD"/>
        <xs:element ref="Other"/>
      </xs:choice>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FB"/>
        <xs:element ref="DataConnections"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ST">
    <xs:complexType>
      <xs:attribute name="Text" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LD">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Rung"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rung">
    <xs:complexType>
      <xs:attribute name="Output" use="required"/>
      <xs:attribute name="Expression" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Other">
    <xs:complexType>
      <xs:attribute name="Language" use="required"/>
      <xs:attribute name="Prototype"/>
      <xs:attribute name="Text" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ServiceSequence"/>
      </xs:sequence>
      <xs:attribute name="RightInterface" use="required"/>
      <xs:attribute name="LeftInterface" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ServiceTransaction"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="InputPrimitive"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OutputPrimitive"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputPrimitive">
    <xs:complexType>
      <xs:attribute name="Interface" use="required"/>
      <xs:attribute name="Event" use="required"/>
      <xs:attribute name="Parameters"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputPrimitive">
    <xs:complexType>
      <xs:attribute name="Interface" use="required"/>
      <xs:attribute name="Event" use="required"/>
      <xs:attribute name="Parameters"/>
    </xs:complexType>
  </xs:element>
  <!-- AdapterType elements -->
  <xs:element name="AdapterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element ref="InterfaceList"/>
        <xs:element minOccurs="0" ref="Service"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <!-- ResourceType elements -->
  <xs:element name="ResourceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FBTypeName"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VarDeclaration"/>
        <xs:element ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FBTypeName">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <!-- DeviceType elements -->
  <xs:element name="DeviceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VarDeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ResourceTypeName"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Resource"/>
        <xs:element minOccurs="0" ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceTypeName">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
        <xs:element minOccurs="0" ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <!-- System elements -->
  <xs:element name="System">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Application"/>
        <xs:element maxOccurs="unbounded" ref="Device"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Mapping"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Segment"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Link"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mapping">
    <xs:complexType>
      <xs:attribute name="From" use="required"/>
      <xs:attribute name="To" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Device">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Resource"/>
        <xs:element minOccurs="0" ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <!-- SubAppType elements -->
  <xs:element name="SubAppType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element ref="SubAppInterfaceList"/>
        <xs:element minOccurs="0" ref="SubAppNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppInterfaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="SubAppEventInputs"/>
        <xs:element minOccurs="0" ref="SubAppEventOutputs"/>
        <xs:element minOccurs="0" ref="InputVars"/>
        <xs:element minOccurs="0" ref="OutputVars"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEventInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SubAppEvent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEventOutputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SubAppEvent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEvent">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubApp"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FB"/>
        <xs:element minOccurs="0" ref="EventConnections"/>
        <xs:element minOccurs="0" ref="DataConnections"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubApp">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
    </xs:complexType>
  </xs:element>
  <!-- Network elements -->
  <xs:element name="Segment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Type" use="required"/>
      <xs:attribute name="Comment"/>
      <xs:attribute name="x"/>
      <xs:attribute name="y"/>
      <xs:attribute name="dx1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Value" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Link">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
      <xs:attribute name="SegmentName" use="required"/>
      <xs:attribute name="CommResource" use="required"/>
      <xs:attribute name="Comment"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
